<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= post.title %>
    </title>
</head>

<body>
    <h1>
        <%= post.title %>
    </h1>
    <small>วันที่เขียน: <%= post.date %></small>
    <hr>

    <p>
        <%= post.content %>
    </p>

    <br>
    <a href="/"> กลับหน้าแรก</a>
</body>

</html>